**/obj
**/bin
.DS_Store
/SOAP_DOTNET/CLI_ESC/target/
/SOAP_DOTNET/CLI_WEB/target/
/SOAP_DOTNET/CLI_WEB_COMERCIALIZADORA/target/
/SOAP_DOTNET/CLI_WEB_COMERCIALIZADORA copy/target/
/SOAP_DOTNET/cli_web_banco/target/
/EXAMEN_BANQUITO_REST_JAVA/01. SERVIDOR/Ex_Banquito_RESTJava/target/
/EXAMEN_BANQUITO_REST_JAVA/01. SERVIDOR/Ex_Comercializadora_RESTJava/target/
